.button {
    position: relative;
    margin: 10px 10px 10px 10px;
    /* top: 0px; */
    color: #fff;
    background-color: #8b829d;
    box-shadow: 0 5px 0px #3c354a;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
}

.button:hover {
    top: -2px;
    box-shadow: 0 8px 5px #3c354a;
    background-color: #1865a4;
}